{namespace soy.bcrfrontend.maintainers}

import {
  Maintainer,
  ModuleVersion,
  Registry
} from 'build/stack/bazel/registry/v1/bcr.proto';
import {
  maintainerBreadcrumb,
  maintainerModuleVersionTable,
  maintainerProfile,
  maintainersList,
  sectionDivider,
  sectionHeader
} from 'app/bcr/registry.soy';
import {
  bcrSidePane,
  homeRecentTimeline
} from 'app/bcr/app.soy';

{template maintainersSelect}
  <div>
    <div class="{css('content')}"></div>
  </div>
{/template}

{template maintainersMapSelectNav}
  {@param registry: Registry}
  {@param totalModules: int}
  {@param totalModuleVersions: int}
  {@param totalMaintainers: int}
  {@param totalPeople: int}
  {@param totalSymbols: int}
  {@param totalBazelVersions: int}
  {@param totalBazelFlags: int}
  {@param topPrimaryLanguages: list<[name: string, sanitizedName: string, count: int, percentage: number]>}
  {@param uiCommitSha: string}
<div class="PageLayout PageLayout--panePos-start PageLayout--hasPaneDivider PageLayout--responsive-stackRegions PageLayout--responsive-panePos-start mt-3">
  <div class="PageLayout-columns">

    <div class="PageLayout-pane">
      {call bcrSidePane}
        {param registry: $registry /}
        {param totalModules: $totalModules /}
        {param totalModuleVersions: $totalModuleVersions /}
        {param totalMaintainers: $totalMaintainers /}
        {param totalPeople: $totalPeople /}
        {param totalSymbols: $totalSymbols /}
        {param topPrimaryLanguages: $topPrimaryLanguages /}
        {param totalBazelVersions: $totalBazelVersions /}
        {param totalBazelFlags: $totalBazelFlags /}
        {param uiCommitSha: $uiCommitSha /}
      {/call}
    </div>

    <div class="PageLayout-content">
      <nav class="UnderlineNav">
        <div class="UnderlineNav-body {css('nav')}">
        </div>
      </nav>
      <div class="{css('content')} mt-3"></div>
    </div>

  </div>
</div>
{/template}

{template maintainersMapComponent}
  {@param maintainers: list<Maintainer>}
  <div>
    {maintainersList(maintainers: $maintainers)}
  </div>
{/template}

{template maintainerComponent}
  {@param maintainer: Maintainer}
  {@param moduleVersions: list<ModuleVersion>}
  {@param activity: list<[moduleVersion: ModuleVersion, commitDate: string, isNew: bool, linkUrl: string, pullRequestUrl: string, displayName: string]>}
  <div>
    <div class="PageLayout PageLayout--panePos-start PageLayout--hasPaneDivider PageLayout--responsive-stackRegions PageLayout--responsive-panePos-start mt-3">
      <div class="PageLayout-wrapper">
        <div class="PageLayout-columns">
          <div class="PageLayout-content">
            {if length($moduleVersions) > 0}
              {call maintainerModuleVersionTable}
                {param moduleVersions: $moduleVersions /}
              {/call}

              {sectionDivider()}
            {/if}

            {sectionHeader(title: 'Module Commit Activity')}
            <div class="ml-2">
              {call homeRecentTimeline}
                {param recentlyUpdated: $activity /}
              {/call}
            </div>
          </div>

          <div class="PageLayout-pane">
            {call maintainerProfile}
              {param maintainer: $maintainer /}
            {/call}
          </div>
        </div>
      </div>
    </div>
  </div>
{/template}
